<form [formGroup]="form">
    <mat-card style="margin-left: 15px;">
      <mat-card-header><mat-card-title>Bank Account Details</mat-card-title></mat-card-header>
      <div fxLayout="column" class="form-field-outer" style="margin-top: 20px;">
        <div class="row box">
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Account No</mat-label>
              <input matInput formControlName="accountNo" >
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>IFSC Code</mat-label>
              <input matInput formControlName="ifseCode" >
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Branch Name</mat-label>
              <input matInput formControlName="branchName" >
            </mat-form-field>
          </div>
  
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Bank Name</mat-label>
              <input matInput formControlName="bankName" >
            </mat-form-field>
          </div>
        </div>
  
        <div class="row box">
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Payment Frequency</mat-label>
              <mat-select  formControlName="paymentFrequency">
                <mat-option value="Monthly">Monthly</mat-option>
                <mat-option value="Weekly">Weekly</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Mode of Payment</mat-label>
              <mat-select  formControlName="modeOfPayment">
                <mat-option value="BankTransfer">BankTransfer</mat-option>
                <mat-option value="Cheque">Cheque</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
  
      <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
        <div class="col" style="text-align: right; margin-bottom: 15px;">
          <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.pristine || form.invalid" style="margin-left: 10px;">
            @if (editStatus) {
                Update
            } @else {
                Save
            }
          </button>
          <button mat-raised-button color="primary" (click)="dialogRef?.close()" [disabled]="!form.pristine && !form.invalid" style="margin-left: 10px;">
            Exit
          </button>
        </div>
      </div>
    </mat-card>
  </form>
  