<div fxLayout="row wrap">
    <div fxFlex="100" class="p-2"> 
        <mat-card class="p-0 chat">
            <mat-sidenav-container>
              <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="chat-sidenav mat-elevation-z1">
                  <mat-toolbar class="p-0 primary" fxLayout="row" fxLayoutAlign="space-between center">
                      <mat-list class="p-0">
                          <mat-list-item>
                              <img matListItemAvatar [src]="userImage">
                          </mat-list-item>
                      </mat-list>  
                  </mat-toolbar>
                  <mat-nav-list class="p-0 chat-sidenav-list">
                    <div>
                        <ng-scrollbar orientation="vertical">
                            @for (chat of users; track chat) { 
                                <mat-list-item (click)="getCurrentUser(chat.id)">
                                    @if(!chat.url){
                                        <img matListItemAvatar [src]="userImage">
                                      }
                                      @else {
                                        <img matListItemAvatar [src]="apiUrl + chat.url">
                                      }
                                    <h6 matListItemTitle> {{chat.name}} </h6>
                                    @if(chat.unreadMessagesCount > 0){
                                        <span class="message-count">
                                            {{ chat.unreadMessagesCount }}
                                        </span>
                                    }
                                    <p matListItemLine fxLayout="row" fxLayoutAlign="none center" class="muted-text pt-1"> 
                                        <mat-icon class="chat-status-icon">
                                            <!-- @switch (chat.authorStatus) {
                                                @case ('Online') { 
                                                    check_circle
                                                }
                                                @case ('Offline') { 
                                                    highlight_off
                                                }
                                                @case ('Away') { 
                                                    schedule 
                                                }
                                                @case ('Do not disturb') { 
                                                    not_interested 
                                                } 
                                            }  -->
                                        </mat-icon>

                                        <!-- <span class="author-status">{{chat.authorStatus}}</span>  -->
                                    </p>
                                </mat-list-item>
                            }
                        </ng-scrollbar>
                    </div>
                  </mat-nav-list>
              </mat-sidenav>
            
              <div>
                  <mat-toolbar class="primary" fxLayout="row" fxLayoutAlign="space-between center">
                      <div fxLayout="row" fxLayoutAlign="start center">
                          <button mat-icon-button (click)="sidenav.toggle()">
                              <mat-icon>list</mat-icon>
                          </button>
                          @if (currentUser) {
                            <mat-list class="p-0">
                                <mat-list-item>
                                    @if(!currentUser.url){
                                        <img matListItemAvatar [src]="userImage">
                                      }
                                      @else {
                                        <img matListItemAvatar [src]="apiUrl + currentUser.url">
                                      }
                                </mat-list-item>
                            </mat-list>
                            <span class="author-name">{{currentUser.name}}</span>
                          }                         
                      </div>
                      <button mat-icon-button [matMenuTriggerFor]="personMenu" #personMenuTrigger="matMenuTrigger">
                          <mat-icon>more_vert</mat-icon>
                      </button> 
                  </mat-toolbar>
                  <mat-menu #personMenu="matMenu" xPosition="before" overlapTrigger="true">
                      <span (mouseleave)="personMenuTrigger.closeMenu()">
                          <button mat-menu-item>
                              <mat-icon>account_circle</mat-icon>
                              <span>Contact info</span>
                          </button>
                          <button mat-menu-item>
                              <mat-icon>volume_mute</mat-icon>
                              <span>Mute</span>
                          </button>
                          <button mat-menu-item> 
                              <mat-icon>delete_forever</mat-icon>
                              <span>Clear chat</span>
                          </button>
                      </span>
                  </mat-menu> 
                  <div class="chat-content" #chatContent>
                    <ng-scrollbar orientation="vertical">
                        @if (chats) {
                            <mat-list class="p-0">
                                @for (talk of chats; track talk) {
                                    <div class="chat-container">
                                        @if (talk.fromId === loginId) {
                                            <div class="chat-message right">
                                                <div class="message-content sender">
                                                    <div class="message-text">{{ talk.message }}</div>
                                                    <div class="message-info">
                                                      <span class="timestamp">{{ talk.time | date: 'dd/MM/yyyy HH:mm' }}</span>
                                                      <span class="status-tick">
                                                        <ng-container [ngSwitch]="talk.status">
                                                          <span *ngSwitchCase="'Sent'">✓</span>
                                                          <!-- <span *ngSwitchCase="'delivered'">✓✓</span> -->
                                                          <span *ngSwitchCase="'read'" class="read-tick">✓✓</span>
                                                        </ng-container>
                                                      </span>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                        @if (talk.toId === loginId) {
                                            <div class="chat-message left">
                                                <div class="message-content receiver">
                                                    <div class="message-text">{{ talk.message }}</div>
                                                    <div class="message-info">
                                                      <span class="timestamp">{{ talk.time | date: 'dd/MM/yyyy HH:mm' }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                      </div>
                                }                                
                            </mat-list>
                        } @else {
                            <div fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
                                <mat-icon>chat</mat-icon>            
                                <p>Select a interlocutor for talk</p>
                            </div> 
                        } 
                    </ng-scrollbar>
                  </div>
                  <mat-divider></mat-divider>
                  @if(currentUser){
                    <mat-card class="chat-actions"> 
                        <div fxLayout="row" fxLayoutAlign="space-between start">
                            <mat-form-field class="w-100">
                              <input matInput placeholder="Enter your text..." (keyup)="messageType($event)" [(ngModel)]="message">
                            </mat-form-field>
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button mat-icon-button type="button" class="mx-2">
                                    <mat-icon>attach_file</mat-icon>
                                </button>
                                <button mat-mini-fab color="primary" type="button" (click)="sendMessage()">
                                    <mat-icon>send</mat-icon>
                                </button>
                            </div>
                          </div>
                    </mat-card>
                  }

              </div>
            
            </mat-sidenav-container>
        </mat-card>
      </div>
</div>
