@if(roleName === 'Super Administrator'){
    <!-- <div>
      <app-info-cards></app-info-cards>
    </div> -->

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap fxLayout.lt-sm="column">
    <div fxFlex="70" fxFlex.lt-sm="100" class="p-2">
      <app-matrix-table></app-matrix-table>
    </div>
    <div fxFlex="30" fxFlex.lt-sm="100" class="p-2">
        <app-holiday-calendar></app-holiday-calendar>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap fxLayout.lt-sm="column">
    <div fxFlex="33" fxFlex.gt-sm="33" class="p-2">
        <app-birthday></app-birthday>
    </div>
    <div fxFlex="33" fxFlex.gt-sm="33" class="p-2">
        <app-probation-due></app-probation-due>
    </div>
    <div fxFlex="33" fxFlex.gt-sm="33" class="p-2">
        <app-joining-day></app-joining-day>
    </div>
  </div>
}

@else if(roleName === 'HR Administrator'){
  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap fxLayout.lt-sm="column">
    <div fxFlex="60" fxFlex.lt-sm="100" class="p-2">
      <app-leave-requests-notification></app-leave-requests-notification>
    </div>
    <div fxFlex="40" fxFlex.lt-sm="100" class="p-2">
        <app-holiday-calendar></app-holiday-calendar>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap fxLayout.lt-sm="column">
    <div fxFlex="33" fxFlex.gt-sm="33" class="p-2">
        <app-birthday></app-birthday>
    </div>
    <div fxFlex="33" fxFlex.gt-sm="33" class="p-2">
        <app-probation-due></app-probation-due>
    </div>
    <div fxFlex="33" fxFlex.gt-sm="33" class="p-2">
        <app-joining-day></app-joining-day>
    </div>
  </div>
}

@else if(roleName === 'Administrator'){
  <div>
    <app-info-cards></app-info-cards>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap fxLayout.lt-sm="column">
    <div fxFlex="70" fxFlex.lt-sm="100" class="p-2">
      <app-matrix-table></app-matrix-table>
    </div>
    <div fxFlex="30" fxFlex.lt-sm="100" class="p-2">
        <app-holiday-calendar></app-holiday-calendar>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap fxLayout.lt-sm="column">
    <div fxFlex="50" fxFlex.gt-sm="50" class="p-2">
        <app-birthday></app-birthday>
    </div>

    <div fxFlex="50" fxFlex.gt-sm="50" class="p-2">
        <app-joining-day></app-joining-day>
    </div>
  </div>
}

@else if(payStat && !rm){
  <div>
    <app-info-cards></app-info-cards>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap fxLayout.lt-sm="column">
    <div fxFlex="70" fxFlex.lt-sm="100" class="p-2">
      <app-matrix-table></app-matrix-table>
    </div>
    <div fxFlex="30" fxFlex.lt-sm="100" class="p-2">
        <app-holiday-calendar></app-holiday-calendar>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap fxLayout.lt-sm="column">
    <div fxFlex="50" fxFlex.gt-sm="50" class="p-2">
        <app-birthday></app-birthday>
    </div>

    <div fxFlex="50" fxFlex.gt-sm="50" class="p-2">
        <app-joining-day></app-joining-day>
    </div>
  </div>
}

@else if(payStat && rm){
  <div>
    <app-info-cards></app-info-cards>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap fxLayout.lt-sm="column">
    <div fxFlex="70" fxFlex.lt-sm="100" class="p-2">
      <app-matrix-table></app-matrix-table>
    </div>
    <div fxFlex="30" fxFlex.lt-sm="100" class="p-2">
        <app-holiday-calendar></app-holiday-calendar>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap fxLayout.lt-sm="column">
    <div fxFlex="25" fxFlex.gt-sm="50" class="p-2">
        <app-birthday></app-birthday>
    </div>
    <div fxFlex="50" fxFlex.lt-sm="100" class="p-2">
      <app-leave-requests-notification></app-leave-requests-notification>
    </div>
    <div fxFlex="25" fxFlex.gt-sm="50" class="p-2">
        <app-joining-day></app-joining-day>
    </div>
  </div>
}

@else {
  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap fxLayout.lt-sm="column">
    <div fxFlex="50" fxFlex.lt-sm="50" class="p-3">
      <app-holiday-calendar></app-holiday-calendar>
    </div>
    <div fxFlex="50" fxFlex.gt-sm="50" class="p-3">
      <app-announcements-list></app-announcements-list>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap fxLayout.lt-sm="column">
    <div fxFlex="50" fxFlex.lt-sm="50" class="p-3">
      <app-birthday></app-birthday>
    </div>
    <div fxFlex="50" fxFlex.gt-sm="50" class="p-3">
      <app-joining-day></app-joining-day>
    </div>
  </div>
}

