@import '../../../theme/styles/colors';
.payroll-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 50px;
  margin-right: 25px;
  margin-top: 25px;
}

/* payroll.component.css */
.payroll-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f6f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  .payroll-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .payroll-table th, .payroll-table td {
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  .payroll-table th {
    background-color: $secondary-color;
    color: #fff;
  }
  
  .deduction-header {
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input-field:focus {
    border-color: $secondary-color;
    outline: none;
  }
  
  // .payroll-summary {
  //   text-align: center;
  //   padding: 20px;
  //   background-color: #ecf0f1;
  //   border-radius: 8px;
  //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  //   font-size: 18px;
  //   color: #2c3e50;
  // }
  
  // .payroll-summary p {
  //   margin: 10px 0;
  // }
  /* Right-align the button */
.save-button {
  display: inline-block;
  // margin-top: 10px;
  // margin-left: auto;
  padding: 10px 10px;
  background-color: $secondary-color;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  // float: right; /* Aligns the button to the right */
}

/* Change background on hover */
.save-button:hover {
  background-color: $primary-color;
}

.save-button:disabled {
  background-color: #e0e0e0; /* Add custom disabled color */
  color: #9e9e9e; /* Disable text color */
  cursor: not-allowed; /* Disable the pointer */
}

/* For Chrome, Edge, and Safari */
.no-spinner::-webkit-inner-spin-button, 
.no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
.no-spinner {
    -moz-appearance: textfield;
}

/* For All Browsers (Fallback) */
.no-spinner {
    appearance: textfield;
}

.gross-pay {
  background-color: $secondary-color;
}