<div fxLayout="row" fxLayoutAlign="space-between center" class="px-2 py-1">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="row">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy" hideSingleSelectionIndicator="true">
            @if (roleName === 'HR Admin' || roleName === 'Super Admin') {
                <mat-button-toggle value="add" (click)="openDialog(null)">
                    <mat-icon>loupe</mat-icon>
                </mat-button-toggle>
            }
        </mat-button-toggle-group>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="row">
        <div fxLayout="row" class="col">
          <form class="user-search" [class.show]="controls.value == 'search'">
            <mat-form-field class="user-search-input">
                <input matInput placeholder="Search..." name="search" (keyup)="search($event)">
            </mat-form-field>
          </form>
        </div>
      </div>
</div>

<div>
    <ul>
        @for (item of announcements; track $index) {
            <li 
            [ngClass]="getAnnouncementClass(item.type)" 
            style="display: flex; justify-content: space-between; align-items: center;"
            >
            <div style="display: flex; align-items: center;">
                <span class="symbol">{{ getSymbol(item.type) }}</span>
                {{ item.message }}
            </div>
        
            <div>
                <img 
                    *ngIf="item.fileUrl" 
                    [src]="apiUrl + item.fileUrl" 
                    class="transition-2" 
                    [ngClass]="{ 'enlarged': enlargedItemId === item.id }"
                    [style.width]="enlargedItemId === item.id ? '200px' : '50px'"
                    [style.height]="enlargedItemId === item.id ? '200px' : '50px'"
                    (click)="toggleImageSize(item.id)"
                />
            </div>
        
            <div>
                <button 
                    *ngIf="roleName === 'HR Admin' || roleName === 'Super Admin'" 
                    mat-button 
                    color="warn" 
                    (click)="deleteAnnouncement(item.id)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </li>
        
        }
    </ul>
</div>

@if(isVisible) {
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <mat-spinner color="primary"></mat-spinner>
    </div>
}
