<div class="row">
  @for(leave of userLeaves; track $index) {
    @if(leave.leaveType.leaveTypeName !== 'LOP'){
      <div class="col">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>{{leave.leaveType.leaveTypeName}}</mat-card-subtitle>
            <mat-chip-set style="margin-left: auto;">
              <mat-chip color="primary" highlighted="true" class="info-chip">
                <mat-icon class="icon-sm">numbers</mat-icon>
                {{leave.leaveBalance}}
              </mat-chip>
            </mat-chip-set>
          </mat-card-header>
        </mat-card>
      </div>
    }
  }
</div><br>

<mat-card class="leave-card">
  <mat-card-content class="form-wrapper">
    <form [formGroup]="leaveRequestForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        @if(!employeeStat){
          <mat-form-field class="half-width" appearance="outline" >
            <mat-label>Employee</mat-label>
            <input matInput placeholder="Select Employee" formControlName="userName" [matAutocomplete]="auto" (keyup)="search($event)">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="patch($event.option.value)">
              <mat-option *ngFor="let suggestion of filteredOptions" [value]="suggestion">
                {{ suggestion.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        }

        <!-- Leave Type -->
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Leave Type</mat-label>
          <mat-select formControlName="leaveTypeId" placeholder="Select leave type" required>
            @for(leaveType of leaveTypes; track $index){
              <mat-option [value]="leaveType.id">
                {{ leaveType.leaveTypeName }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- Start Date -->
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" placeholder="Choose start date" 
          (dateChange)="onDateChange()" required [max]="maxDate">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" placeholder="Choose end date" (dateChange)="onEndDateChange()" required
          [matDatepickerFilter]="endDateFilter" [max]="maxEndDate">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Reason</mat-label>
          <textarea matInput formControlName="notes" placeholder="Enter reason" required (input)="convertToLowercase();employeeStat === false ? prefixEmergency() : null"> </textarea>
        </mat-form-field>
      </div>

      <!-- @if(isSickLeaveAndMoreThanThreeDays()){ -->
        @if(isSick && !imageUrl){
          <div class="col">
            <input type="file" class="file-input" hidden #fileInput (change)="uploadFile($event)">
            <mat-icon class="file-upload-icon" (click)="fileInput.click()">cloud_upload</mat-icon>
            <p class="file-upload-text" (click)="fileInput.click()">Browse file to upload</p>
          </div>
        }
        @else if(isSick){
        <div class="col">
            <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                <iframe [src]="imageUrl | safe" width="100%" height="300px"></iframe>
                <mat-icon style="color: red;" (click)="onDeleteImage()">delete</mat-icon>
            </div>
        </div>
        }
@if(isSick && !imageUrl && isFileSelected){
  <div style="color: red; margin-top: 10px; font-weight: bold;">
    Note: Medical certificate is mandatory for Sick Leave on Mondays, Fridays, Saturdays  or durations over 2 days.
  </div>
}
      <!-- }<br> -->

      <div formArrayName="leaveDates">
        <div *ngFor="let leaveDate of leaveDates.controls; let i = index" [formGroupName]="i" class="leave-session-card">
          <div class="leave-session-row">
            <mat-card-title>{{ leaveDate.get('date')?.value | date: 'dd-MM-yyyy' }}</mat-card-title>
            <mat-checkbox [checked]="leaveDate.get('session1')?.value" (change)="onSessionChange(i, 'session1')">
              Session 1
            </mat-checkbox>
            <mat-checkbox [checked]="leaveDate.get('session2')?.value" (change)="onSessionChange(i, 'session2')">
              Session 2
            </mat-checkbox>
          </div>
        </div>
      </div>

      <br>
      <div *ngIf="isLeaveDurationInvalid()" style="color: red;">
        Leave duration cannot be more than 3 days unless it is Sick Leave.
      </div>
    
      <button mat-raised-button type="submit" color="primary" class="submit-btn"
        [disabled]="leaveRequestForm.pristine || !leaveRequestForm.valid || isLeaveDurationInvalid() || isFileSelected">
        {{ isEditMode ? 'Update' : 'Apply' }} Leave
      </button>
    </form>
  </mat-card-content>
</mat-card>
@if(isLoading) {
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
      <mat-spinner color="primary"></mat-spinner>
  </div>
}
