.full-width{
    width: 100%;
}
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  @media(max-width:576px)
  {
      .box{
          padding: 0px;
          margin: 0px;
          display: flex;
          flex-direction: column;
      }
  }
  
  span {
    cursor: pointer;
  }
  
  span:hover{
    color: #e41010;
  }
  
  
  .text-with-icon {
    display: flex;
    align-items: center;
    gap: 4px;
    color: blue
  }
  
  .user-spinner {
    position: fixed; /* Ensures the spinner is positioned relative to the viewport */
    top: 0;
    left: 0;
    width: 100%; /* Covers the full screen width */
    height: 100%; /* Covers the full screen height */
    display: flex; /* Flexbox to center the spinner */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    background-color: rgba(0, 0, 0, 0.1); /* Optional: Add a semi-transparent background */
    z-index: 1000; /* Ensures it appears above other content */
  }