<mat-card class="background-image-card">
    <div class="overlay"></div> <!-- Semi-transparent overlay -->
    <div class="content">
      @if (joinThisMonth.length > 0) {
        <div class="birthday-container">
          <h2>🎉 Work Anniversary 🎉</h2><br>
          <div class="card-container">
            @for (employee of joinThisMonth; track $index) {
              <div class="card">
                <h4>
                  <a>{{ employee.user.name }}</a>
                  <span class="date">Joining: {{ employee.dateOfJoining | date: 'MMMM d, y' }}</span>
                </h4>
                <!--  - Exp: {{ employee.exp }} -->
              </div>
            }
          </div>
        </div>
      } @else {
        <div class="no-data-container">
          <h2>🎉 Work Anniversary 🎉</h2>
          <p>No upcoming work anniversaries.</p>
        </div>
      }
    </div>
  </mat-card>