<form [formGroup]="form">
    <mat-card>
      <mat-card-header><mat-card-title>Employment Details</mat-card-title></mat-card-header>
  
      <div fxLayout="column" class="form-field-outer" style="margin-top: 20px;">
        <div class="row box">
          <div class="col">
            <mat-form-field class="w-100" appearance="outline" >
              <input matInput placeholder="Select Designation" formControlName="designationName" [matAutocomplete]="auto" (keyup)="search($event)">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="patch($event.option.value)">
                @for (suggestion of filteredOptions; track $index) {
                  <mat-option [value]="suggestion">
                    {{ suggestion.designationName }}
                  </mat-option>
                }
              </mat-autocomplete>
  
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Official Mail</mat-label>
              <input matInput formControlName="officialMailId" >
            </mat-form-field>
          </div>
  
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Project Mail</mat-label>
              <input matInput formControlName="projectMailId" >
            </mat-form-field>
          </div>
        </div>
  
        <div class="row box">
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Division</mat-label>
              <input matInput formControlName="division" >
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Grade</mat-label>
              <input matInput formControlName="grade" >
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Team</mat-label>
              <mat-select formControlName="teamId">
                @for(team of teams; track team){
                  <mat-option [value]="team.id">
                    {{ team.teamName}}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Designation</mat-label>
              <input matInput formControlName="designation" >
            </mat-form-field>
          </div> -->
        </div>
  
        <div class="row box">
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Cost Centre</mat-label>
              <input matInput formControlName="costCentre" >
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Location</mat-label>
              <input matInput formControlName="location" >
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Department</mat-label>
              <mat-select formControlName="department">            
                <mat-option [value]="">No Option</mat-option>
                @for (department of departments; track $index) {
                  <mat-option [value]="department.name">
                    {{ department.name }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row box">
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Office</mat-label>
              <input matInput formControlName="office" >
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Salary</mat-label>
              <input matInput formControlName="salary"  type="number">
            </mat-form-field>
          </div>
  
          <div class="col">
            <div class="row">
              <div class="col">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Probation Period(in days)</mat-label>
                  <input matInput formControlName="probationPeriod"  type="number">
                </mat-form-field>
              </div>
              @if (form.controls.probationPeriod.value === 0) {
                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Confirmed at</mat-label>
                    <input matInput [matDatepicker]="dp" formControlName="confirmationDate">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                  </mat-form-field> 
                </div>
              } 
            </div>
          </div>
        </div>
      </div>
  
      <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
        <div class="col" style="text-align: right; margin-bottom: 15px;">
          <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.pristine || form.invalid" 
          style="margin-left: 10px;">
            @if (editStatus) {
                Update
            } @else {
                Save
            }
          </button>
          <button mat-raised-button color="primary" (click)="dialogRef?.close()" [disabled]="!form.pristine && !form.invalid" style="margin-left: 10px;">
            Exit
          </button>
        </div>
      </div>
    </mat-card>
  </form>
  