@if (user){
  <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.gt-md="100" class="p-2">
      @if(user){
            <mat-card>
              <div style="text-align: center;">
                <div style="text-align: center;">
                  @if(!user.url && !imageUrl){
                    <img mat-card-image src="img/users/default-user.jpg" class="img-fluid" alt="Photo 1" width="200" height="200">
              
                    <div style="display: flex; justify-content: center; align-items: center; margin-top: 10px;">
                      <span>Upload Image:</span>
                      <div class="upload-container" style="display: flex; align-items: center; gap: 10px;">
                        <input type="file" class="file-input" hidden #fileInput (change)="uploadFile($event)">
                        <span class="material-icons clickable-icon" (click)="fileInput.click()">cloud_upload</span>
                      </div>
                    </div>
                  }
                  @else {
                    <img [src]="user.url? apiUrl + user.url : imageUrl" alt="Photo 1" width="200" height="200" ngOptimizedImage>
                  }
                </div>
              </div>
              
  
        <mat-card-content class="py-3">
            <h1 class="text-center">{{user.empNo}}</h1>
            <h2 class="text-center">{{user.name | uppercase}}</h2>
            <div class="p-3">
              <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                <div>Email  :<strong>{{user.email}}</strong>
                </div>
                <div>Phone Number  :<strong>{{user.phoneNumber}}</strong></div>
              </div>
  
              <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                <div>Created At  :<strong>{{user.createdAt | date:'dd/MM/yyyy'}}</strong></div>
                <div>Updated At  :<strong >{{user.updatedAt | date:'dd/MM/yyyy'}}</strong></div>
              </div>
            </div>
  
  
  
            <!-- <h4 class="muted-text py-1">About:</h4>
            <p class="text-justify">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div fxLayoutAlign="end center">
                <a routerLink="user-info" mat-stroked-button color="primary">
                    More <mat-icon>arrow_right_alt</mat-icon>
                </a>
            </div> -->
        </mat-card-content>
        <mat-divider></mat-divider>
        <div class="p-3">
          <!-- <div class="example-action-buttons">
            <button mat-button (click)="accordion().openAll()">Expand All</button>
            <button mat-button (click)="accordion().closeAll()">Collapse All</button>
          </div> -->
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header class="custom-header">
                <span class="panel-title"> Personal data </span>
                <span class="spacer"></span>
                <mat-icon style="margin-right: 10px;">person</mat-icon>
              </mat-expansion-panel-header>
              @if(userPersonal){
                <div class="p-3">
                  <div class="flex-container">
                    <div>Blood Group  :<strong>{{userPersonal.bloodGroup}}</strong></div>
                    <div>Date of Birth  :<strong>{{userPersonal.dateOfBirth | date:'dd/MM/yyyy'}}</strong></div>
                    <div>Gender  :<strong>{{userPersonal.gender }}</strong></div>
                  </div>
  
                  <div class="flex-container">
                    <div>FatherName  :<strong>{{userPersonal.parentName }}</strong></div>
                    <div>MotherName  :<strong>{{userPersonal.motherName }}</strong></div>
                    <div>Spouse Name  :<strong>{{userPersonal.spouseName }}</strong></div>
                  </div>
  
                  <div class="flex-container"> 
                    <div>FatherContactNo  :<strong>{{userPersonal.parentContactNo }}</strong></div>
                    <div>MotherContactNo  :<strong>{{userPersonal.motherContactNo }}</strong></div>
                    <div>SpouseContactNo  :<strong>{{userPersonal.spouseContactNo }}</strong></div>
                  </div>
  
                  <div class="flex-container">
                    <div>emergencyContactName  :<strong>{{userPersonal.emergencyContactName }}</strong></div>
                    <div>emergencyContactNo  :<strong>{{userPersonal.emergencyContactNo }}</strong></div>
                    <div>emergencyContactRelation  :<strong>{{userPersonal.emergencyContactRelation }}</strong></div>
                  </div>
  
                  <div class="flex-container"> 
                    <div>PermanentAddress  :<strong>{{userPersonal.permanentAddress }}</strong></div>
                    <div>PresentAddress  :<strong>{{userPersonal.temporaryAddress }}</strong></div>
                  </div>
  
                  <div class="flex-container">
                    <div>Joining Date  :<strong>{{userPersonal.dateOfJoining | date:'dd/MM/yyyy'}}</strong></div>
                    <div>Marital Status  :<strong>{{userPersonal.maritalStatus }}</strong></div>
                    <div>Referred By  :<strong>{{userPersonal.referredBy }}</strong></div>
                    <div>Reporting Manger  :<strong>{{userPersonal.manager?.name || 'None'}}</strong></div>
                  </div>
                </div>
              }@else {
                <p>No Data is added</p>
              }
            </mat-expansion-panel>
  
            <mat-expansion-panel>
              <mat-expansion-panel-header class="custom-header">
                <span class="panel-title"> Employment Data </span>
                <span class="spacer"></span>
                <mat-icon style="margin-right: 10px;">work</mat-icon>
              </mat-expansion-panel-header>
              @if(positions){
                 <div class="p-3">
                  <div class="flex-container">
                    <div>Official Mail  :<strong (click)="openUpdatePasswordDialog('Official')">{{positions.officialMailId }}</strong></div>
                    <div>Project Mail  :<strong (click)="openUpdatePasswordDialog('Project')">{{positions.projectMailId}}</strong></div>
                    <div>Salary  :<strong>{{positions.salary }}</strong></div>
                    <div>Designation  :<strong>{{positions.designation?.designationName }}</strong></div>
                  </div>
  
                  <div class="flex-container">
                    <div>Grade  :<strong>{{positions.grade}}</strong></div>
                    <div>Department  :<strong >{{positions.department?.name}}</strong></div>
                    <div>Division  :<strong >{{positions.division}}</strong></div>
                    <div>Cost Centre  :<strong>{{positions.costCentre}}</strong></div>
                    <div>Team  :<strong>{{positions.team?.teamName}}</strong></div>
                  </div>
  
                  <div class="flex-container">
                    <div>Location  :<strong >{{positions.location}}</strong></div>
                    <div>Office  :<strong >{{positions.office}}</strong></div>
                    <div>Probation Period  :<strong >{{positions.probationPeriod}}</strong></div>
                    <div>Confirmed Date  :<strong>{{positions?.confirmationDate | date:'dd/MM/yyyy'}}</strong></div>
                  </div>
  
                  <div class="flex-container">
                    <div>Confirmation Note  :<strong >{{positions.probationNote}}</strong></div>
                  </div>
                </div>
              }@else {
                <p>No Data is added</p>
              }
            </mat-expansion-panel>
  
            <mat-expansion-panel>
              <mat-expansion-panel-header class="custom-header">
                <span class="panel-title"> Statutory Info </span>
                <span class="spacer"></span>
                <mat-icon style="margin-right: 10px;">contacts</mat-icon>
              </mat-expansion-panel-header>
              @if(userStat){
                <div class="p-3">
                  <div class="flex-container">
                    <div *ngIf="userStat.adharNo">
                      {{ labels.adharNo?.label }} : <strong>{{ userStat.adharNo }}</strong>
                    </div>

                    <div *ngIf="userStat.panNumber">
                      {{ labels.panNumber?.label }} : <strong>{{ userStat.panNumber }}</strong>
                    </div>

                    <div *ngIf="userStat.pfNumber">
                      {{ labels.pfNumber?.label }} : <strong>{{ userStat.pfNumber }}</strong>
                    </div>

                    <div *ngIf="userStat.insuranceNumber">
                      {{ labels.insuranceNumber?.label }} : <strong>{{ userStat.insuranceNumber }}</strong>
                    </div>
                  </div>

                  <div class="flex-container">
                    <div *ngIf="userStat.esiNumber">
                      {{ labels.esiNumber?.label }} : <strong>{{ userStat.esiNumber }}</strong>
                    </div>

                    <div *ngIf="userStat.uanNumber">
                      {{ labels.uanNumber?.label }} : <strong>{{ userStat.uanNumber }}</strong>
                    </div>

                    <div>Passport No : <strong>{{ userStat.passportNumber }}</strong></div>
                    <div>Passport Expiry : <strong>{{ userStat.passportExpiry | date: 'dd/MM/yyyy' }}</strong></div>
                  </div>
                </div>
              }@else {
                <p>No Data is added</p>
              }
            </mat-expansion-panel>
  
            <mat-expansion-panel>
              <mat-expansion-panel-header class="custom-header">
                <span class="panel-title"> Account Details </span>
                <span class="spacer"></span>
                <mat-icon style="margin-right: 10px;">savings</mat-icon>
              </mat-expansion-panel-header>
              @if(accounts){
                <div class="p-3">
                  <div class="flex-container">
                    <div>Account No  :<strong>{{accounts.accountNo}}</strong></div>
                    <div>IFSC  :<strong>{{accounts.ifseCode}}</strong></div>
                    <div>Branch Name  :<strong>{{accounts.branchName}}</strong></div>
                  </div>
  
                  <div class="flex-container">
                    <div>Bank Name  :<strong>{{accounts.bankName}}</strong></div>
                    <div>Mode Of Payment  :<strong>{{accounts.modeOfPayment}}</strong></div>
                    <div>Payment Frequency  :<strong >{{accounts.paymentFrequency}}</strong></div>
                  </div>
                </div>
              }@else {
                <p>No Data is added</p>
              }
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header class="custom-header">
                <span class="panel-title"> Nominee Details </span>
                <span class="spacer"></span>
                <mat-icon style="margin-right: 10px;">supervised_user_circle</mat-icon>
              </mat-expansion-panel-header>
              @if(nominee){
                <div class="p-3">
                  <div class="flex-container">
                    <div>Name :<strong>{{nominee.nomineeName}}</strong></div>
                    <div>Contact Number  :<strong>{{nominee.nomineeContactNumber}}</strong></div>
                    <div>Relation  :<strong>{{nominee.nomineeRelation}}</strong></div>
                    <div>Aadhar Number  :<strong>{{nominee.aadhaarNumber}}</strong></div>
                  </div>
                </div>
              }@else {
                <p>No Data is added</p>
              }
            </mat-expansion-panel>
  
            <!-- <mat-expansion-panel>
              <mat-expansion-panel-header class="custom-header">
                <span class="panel-title"> Qualifications </span>
                <span class="spacer"></span>
                <mat-icon style="margin-right: 10px;">school</mat-icon>
              </mat-expansion-panel-header>
              @if(qualifications){
                <h3>Education</h3>
                @for (item of qualifications.qualification; track $index) {
                  <div class="flex-container">
                    <div>Field of Study  :<strong>{{item.field}}</strong></div>
                    <div>University  :<strong>{{item.university }}</strong></div>
                    <div>Year of Passout  :<strong>{{item.passout}}</strong></div>
                    <div>Marks(in %)  :<strong>{{item.marks}}</strong></div>
                  </div>
                }
                <h3>Experience</h3>
                @for (item of qualifications.experience; track $index) {
                  <div class="flex-container">
                    <div>Designation  :<strong>{{item.designation}}</strong></div>
                    <div>Company  :<strong>{{item.company }}</strong></div>
                    <div>Year of Experience  :<strong>{{item.yearOfExperience}}</strong></div>
                    <div>Contact Number  :<strong>{{item.contactNumber}}</strong></div>
                  </div>
                }
              }@else {
                <p>No Data is added</p>
              }
            </mat-expansion-panel> -->
  
            <mat-expansion-panel>
              <mat-expansion-panel-header class="custom-header">
                <span class="panel-title"> Documents Uploaded </span>
                <span class="spacer"></span>
                <mat-icon style="margin-right: 10px;">document_scanner</mat-icon>
              </mat-expansion-panel-header>
              @if(documents.length>0){
                <div class="p-3">
                  @for(data of documents; track data){
                    <div class="flex-container">
                      <div> <strong>{{ data.docName}}</strong>  :</div>
                      <div> 
                        <iframe [src]="apiUrl + data.docUrl | safe" width="400" height="400"></iframe>
                      </div>
                    </div>
                  }
                </div>
              }@else {
                <p>No Data is added</p>
              }
            </mat-expansion-panel>
  
          <mat-expansion-panel>
            <mat-expansion-panel-header class="custom-header">
              <span class="panel-title"> Assets Allotted </span>
              <span class="spacer"></span>
              <mat-icon style="margin-right: 10px;">devices</mat-icon>
            </mat-expansion-panel-header>
            @if(assets){
              <div class="p-3">
                @for (item of assets; track $index) {
                  <div class="asset-container">
                    <div class="asset-row">
                      <div>Asset Name: <strong>{{item.userAsset?.assetName}}</strong></div>
                      <div>Handover Form: <strong>{{item.userAsset?.assetHandoverNumber}}</strong></div>
                      <div>SerialNumber: <strong>{{item.userAsset?.serialNumber}}</strong></div>
                      <div>AssetNumber: <strong>{{item.userAsset?.assetNumber}}</strong></div>
                    </div>
                    <div class="asset-row">
                      <div>Purchased Date: <strong>{{item.userAsset?.purchasedDate | date: 'dd/mm/yyyy'}}</strong></div>
                      <div>Purchased Form: <strong>{{item.userAsset?.purchasedFrom}}</strong></div>
                      <div>InvoiceNO: <strong>{{item.userAsset?.invoiceNo}}</strong></div>
                      <div>Description: <strong>{{item.userAsset?.description}}</strong></div>
                    </div>
                  </div>
                }


              </div>
            }@else {
              <p>No Data is added</p>
            }
          </mat-expansion-panel>
  
            <mat-expansion-panel>
              <mat-expansion-panel-header class="custom-header">
                <span class="panel-title"> Payroll Log </span>
                <span class="spacer"></span>
                <mat-icon style="margin-right: 10px;">price_change</mat-icon>
              </mat-expansion-panel-header>
              @if(payrollLog){
                <div class="p-3">
                  @for (item of payrollLog; track $index) {
                    <div class="flex-container">
                      <div>Updated Date  :<strong>{{item.updatedDate | date:'dd/MM/yyyy'}}</strong></div>
                      <div>New Salary  :<strong>{{item.newIncome }}</strong></div>
                      <div>Previous Salary  :<strong>{{item.oldIncome}}</strong></div>
                    </div>
                  }
                </div>
              }@else {
                <p>No Data is added</p>
              }
            </mat-expansion-panel>
  
            <mat-expansion-panel>
              <mat-expansion-panel-header class="custom-header">
                <span class="panel-title"> PaySlips </span>
                <span class="spacer"></span>
                <mat-icon style="margin-right: 10px;">receipt</mat-icon>
              </mat-expansion-panel-header>
              @if(payrollLog){
                <div class="p-3">
                  <table>
                    <thead>
                      <tr>
                        <th> PayedFor </th>
                        <th> PayedAt</th>
                        <th> PayedAmount </th>
                      </tr>
                    </thead>
                    <tbody>
                      @for(role of monthlySalary; track $index){
                        <tr (click)="openPayroll(role.id)">
                          <td>{{ role.payedFor }}</td>
                          <td>{{ role.payedAt | date: 'dd-MM-yyyy'}}</td>
                          <td>{{ role.toPay }}</td>
                          <td>
                            <!-- <button
                              mat-icon-button
                              (click)="openRoleDialog(role)"
                              [disabled]="isRestrictedRole(role.roleName)">
                              <mat-icon>mode_edit</mat-icon>
                            </button> -->
  
                            <!-- <button
                              mat-icon-button
                              (click)="deleteRole(role.id)"
                              [disabled]="isRestrictedRole(role.roleName)">
                              <mat-icon>delete</mat-icon>
                            </button> -->
                          </td>
                        </tr>
                      }
  
                    </tbody>
                  </table>
                </div>
              }@else {
                <p>No Data is added</p>
              }
            </mat-expansion-panel>
          </mat-accordion>
  
  
  
        </div>
        <mat-divider></mat-divider>
  
  
      </mat-card>
      }
  
    </div>
    <!-- <div fxFlex="100" fxFlex.sm="65" fxFlex.md="70" fxFlex.gt-md="75" class="p-2">
        <router-outlet></router-outlet>
    </div> -->
  </div>
}

