<!DOCTYPE html>
<html lang="en">
<body>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="row">
    <div fxLayout="row" class="col">
        <!-- <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy" hideSingleSelectionIndicator="true">
            <mat-button-toggle value="add" (click)="openRoleDialog(null)"><mat-icon>person_add</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group> -->
    </div>
    <!-- <div fxLayout="row" class="col">
      <form class="user-search" [class.show]="controls.value == 'search'">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="Search designation..." name="search" (keyup)="search($event)">
        </mat-form-field>
      </form>
    </div> -->
  </div>

  <main class="table" id="customers_table">
    <section class="table__body">
      <table>
        <thead>
          <tr>
            <th> Name </th>
            <th> Role </th>
            <th> SeparatedNote</th>
            <th> SeparatedDate </th>
            <th> Manage </th>
          </tr>
        </thead>
        <tbody>
          @for(user of users; track $index){
            <tr>
              <td>{{ user.name }}</td>
              <td>{{ user.role.roleName }}</td>
              <td>{{ user.separationNote }}</td>
              <td>{{ user.separationDate | date: 'dd-MM-yyyy' }}</td>
              <td>
                <button mat-icon-button (click)="employeeBack(user.id)"><mat-icon>keyboard_return</mat-icon> </button>
                <button mat-icon-button (click)="editNote(user.id, user.empNo, user.name)">
                  <mat-icon>edit_note</mat-icon>
                </button>
              </td>
            </tr>
          }

        </tbody>
      </table>
      <!-- <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage - 1"
       (page)="onPageChange($event)" [pageSizeOptions]="[10, 20,30,40,50,100]">
      </mat-paginator> -->
    </section>
  </main>
</body>
</html>
