

<div class="row"> @if( invNo ){ 
      <div class="editable-field">
      @if(!isEditingInvNo) {
        <h1 (click)="startEditingInvNo()">{{ invNo }}</h1>
      } @else {
        <mat-form-field appearance="outline" class="invno-edit-field">
          <input matInput 
            [(ngModel)]="invNo" 
            (input)="onInputChange()"
            (keyup.enter)="saveInvNo()">
            <mat-hint *ngIf="showEmptyWarning" class="warning-hint">
              Cannot be empty - original value restored
            </mat-hint>
            <!-- <mat-hint *ngIf="showOACWarn" class="warning-hint">
              {{desiredPrefix}} is not allowed to be modified
            </mat-hint> -->
            <!-- <mat-error *ngIf="showOACWarn">
              OAC prefix is not allowed to be modified
            </mat-error> -->
        </mat-form-field>
      }
    </div>
  <!-- <h1>{{ invNo }}</h1>  -->
}@if( userName ){ <h1>/{{ userName }}</h1> }</div>
<mat-tab-group class="horizontal-tabs" class="user-head" [selectedIndex]="selectedTabIndex">
  <mat-tab [disabled]="!formSubmitted">
    <mat-card style="margin-top: 20px;">
      <ng-template mat-tab-label>
        <mat-icon>info</mat-icon>
      </ng-template>

      <form [formGroup]="form" class="user-form" fxLayout="column" fxLayoutGap="16px">
        <div fxLayout="column" class="form-field-outer">
          <mat-card>
            <mat-card-header><mat-card-title>Employee</mat-card-title></mat-card-header>
            <div class="row box" style="margin-top: 20px;">
              <div class="col">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label><mat-icon>person</mat-icon> Name</mat-label>
                  <input matInput formControlName="name" required>
                  @if(form.controls['name'].hasError('required')){
                    <mat-error>
                      Name is required
                    </mat-error>
                  }@else if(form.controls.name.hasError('minlength')){
                    <mat-error>
                      Name isn't long enough, minimum of 5 characters
                    </mat-error>
                  }
                </mat-form-field>
              </div>
              @if(!editStatus){
                <div class="col">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Official Mail</mat-label>
                    <input matInput formControlName="officialMailId" >
                  </mat-form-field>
                </div>
              }

              <div class="col">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label><mat-icon>email</mat-icon> Email</mat-label>
                  <input matInput formControlName="email" required>
                  @if(form.controls.email.hasError('required')){
                    <mat-error>
                      Email is required
                    </mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label><mat-icon>phone</mat-icon> Phone Number</mat-label>
                  <input matInput formControlName="phoneNumber" required>
                  @if(form.controls.phoneNumber.hasError('required')){
                    <mat-error>
                      Phone number is required
                    </mat-error>
                  }
                </mat-form-field>
              </div>

              <div class="col" style="margin-right: 0;">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Enter your password</mat-label>
                  <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" [readonly]="editStatus"
                  required />
                  <button mat-icon-button matSuffix (click)="togglePasswordVisibility()"
                    [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'"
                    [attr.aria-pressed]="!hidePassword">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                  @if(form.controls.password.hasError('required')){
                    <mat-error>
                      Password is required
                    </mat-error>
                  }@else if(form.controls.password.hasError('minlength')){
                    <mat-error>
                      Password isn't long enough, minimum of 5 characters
                    </mat-error>
                  }
                </mat-form-field>

              </div>
              @if(!editStatus){
                <div style="margin-left: 0; margin-right: 15px;">
                  <button type="button" class="small-btn" (click)="generateRandomPassword()">
                    <span class="material-icons">autorenew</span>
                  </button>
                  <button type="button" class="small-btn" (click)="copyEmpNoAndPassword()"
                    [disabled]="form.controls.password.value === ''">
                    <span class="material-icons">content_copy</span>
                  </button>
                </div>
              }

            </div>

            <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
              @if(imageUrl != '') {
                <input type="file" class="file-input" hidden #fileInput>
                <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                  <img [src]="imageUrl" alt="Image" title="Image" height="100" width="100" (click)="fileInput.click()" class="clickable-image" />
                  @if(imageUrl){
                    <button mat-icon-button color="warn" (click)="deleteImage()">
                      <mat-icon>delete</mat-icon>
                    </button>
                  }
                </div>
              } @else{
                <div class="upload-container" style="display: flex; align-items: center;">
                  Upload Image: <input type="file" class="file-input" hidden #fileInput (change)="uploadFile($event)">
                  <span class="material-icons clickable-icon" (click)="fileInput.click()" style="margin-left: 10px;">cloud_upload</span>
                </div>
              }

              <div fxLayout="row" fxLayoutGap="16px">
                <button mat-raised-button class="button" [disabled]="!form.valid" (click)="onSubmit()">
                  {{ editStatus ? 'Update' : 'Save' }}
                </button>

                @if(!editStatus){
                  <button mat-raised-button class="button"  onClick="history.back()">
                    Close
                  </button>
                }@else if(editStatus){
                  <button mat-raised-button (click)="goToNextTab()">
                    <div class="text-with-icon">
                      <!-- <span>Next</span> -->
                      <mat-icon>arrow_forward_ios</mat-icon>
                    </div>
                  </button>
                }
              </div>
            </div>
          </mat-card>
        </div>
      </form>
    </mat-card>
  </mat-tab>
  <mat-tab [disabled]="!isFormSubmitted">
    <ng-template mat-tab-label>
      <mat-icon>person</mat-icon>
    </ng-template>
    <app-personal-details [data]="dataToPass" (dataSubmitted)="personalSubmit($event)" (loadingState)="updateLoadingState($event)" 
    (nextTab)="goToNextTab()" (previousTab)="goToPreviousTab()"></app-personal-details>
  </mat-tab>

  <mat-tab [disabled]="!isWorkFormSubmitted">
    <ng-template mat-tab-label>
      <mat-icon>work</mat-icon>
    </ng-template>
    <app-user-position [positionData]="dataToPass" (dataSubmitted)="workSubmit($event)" (nextTab)="goToNextTab()" (previousTab)="goToPreviousTab()"></app-user-position>
  </mat-tab>

  <mat-tab [disabled]="!isContactsFormSubmitted">
    <ng-template mat-tab-label>
      <mat-icon>contacts</mat-icon>
    </ng-template>
    <app-statuatory-info [statuatoryData]="dataToPass" (dataSubmitted)="contactSubmit($event)" (nextTab)="goToNextTab()" (previousTab)="goToPreviousTab()"></app-statuatory-info>
  </mat-tab>

  <mat-tab [disabled]="!isSocialFormSubmitted">
    <ng-template mat-tab-label>
      <mat-icon>savings</mat-icon>
    </ng-template>
    <app-user-account [accountData]="dataToPass" (dataSubmitted)="accountSubmit($event)" (nextTab)="goToNextTab()" (previousTab)="goToPreviousTab()"></app-user-account>
  </mat-tab>

  <mat-tab [disabled]="!isNomineeFormSubmitted">
    <ng-template mat-tab-label>
      <mat-icon>supervised_user_circle</mat-icon>
    </ng-template>
    <app-user-nominee [nomineeData]="dataToPass" (dataSubmitted)="nomineeSubmit($event)" (nextTab)="goToNextTab()" (previousTab)="goToPreviousTab()"></app-user-nominee>
  </mat-tab>

  <!-- <mat-tab [disabled]="!isQualFormSubmitted">
    <ng-template mat-tab-label>
      <mat-icon>school</mat-icon>
    </ng-template>
    <app-user-qualification [qualData]="dataToPass" (dataSubmitted)="qualSubmit($event)" (nextTab)="goToNextTab()" (previousTab)="goToPreviousTab()"></app-user-qualification>
  </mat-tab> -->

  <mat-tab [disabled]="!isAccountFormSubmitted">
    <ng-template mat-tab-label>
      <mat-icon>upload_file</mat-icon>
    </ng-template>
    <app-user-documents [data]="dataToPass" (nextTab)="goToNextTab()" (previousTab)="goToPreviousTab()"></app-user-documents>
  </mat-tab>
</mat-tab-group>

@if(isLoading) {
  <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
      <mat-spinner class="user-spinner"></mat-spinner>
  </div>
}