<button mat-icon-button [matMenuTriggerFor]="messagesMenu" (click)="openMessagesMenu()">
  <mat-icon>notifications</mat-icon>
  @if (unreadCount  > 0) {
    <span style="color: red; font-weight: bold; font-size: 0.75em; position: relative; top: -8px; left: -6px;">{{unreadCount }}</span>
  }
</button>

<mat-menu #messagesMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu messages">
      <mat-tab-group class="primary" (click)="stopClickPropagate($event)" [selectedIndex]="selectedTab">
          <mat-tab>
              <ng-template mat-tab-label>
                  <mat-icon>message</mat-icon>&nbsp;&nbsp;Messages
              </ng-template>
              <mat-card class="content">
                  <ng-scrollbar pointerEventsMethod="scrollbar">
                      <div fxLayout="column" fxLayoutAlign="none">
                          @for (message of notifications; track message.id) {
                            <button mat-button (click)="navigateToMessage(message)">
                              <div fxLayout="column" fxLayoutAlign="none" class="w-100">
                                <div fxLayout="row" fxLayoutAlign="space-between start">
                                  <span class="name">{{ message.name }}</span>
                                  <span class="info">
                                    <mat-icon>access_time</mat-icon> {{ message.createdAt | timeAgo }}
                                  </span>
                                </div>
                                <span class="text muted-text" [innerHTML]="message.message"></span>
                              </div>
                              <!-- <mat-icon
                              style="color: blue; cursor: pointer;"
                              (click)="!isAdmin() ? markAsRead(message.id) : null"
                              aria-label="Mark as read"
                            > -->
                              <!-- mark_email_read
                            </mat-icon> -->

                            <mat-icon [ngStyle]="{'color': message.isRead ? 'blue' : 'green'}"
                                (click)="!isAdmin() ? markAsRead(message.id) : null"
                                aria-label="Mark as read">
                        mark_email_read
                      </mat-icon>
     
                            </button>
                          }
                      </div>
                  </ng-scrollbar>
              </mat-card>
          </mat-tab>

      </mat-tab-group>
</mat-menu>
