
<div class="reset-password-container">
  <mat-toolbar class="bg-blue-900">
    <p class="header"> Update Designation for {{name}}-{{empNo}} </p>
    <!-- <button mat-mini-fab color="primary" type="button" style="margin-left: auto;"
      aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" (click)="onCancelClick()"> -->
      <mat-icon (click)="close()" style="margin-left: auto;">close</mat-icon>
    <!-- </button> -->
  </mat-toolbar>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-100" appearance="outline">
      <input matInput placeholder="Select Designation" formControlName="designationName" [matAutocomplete]="auto" (click)="getDesignation()" (keyup)="search($event)">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="patch($event.option.value)">
        @for (suggestion of filteredOptions; track $index) {
          <mat-option [value]="suggestion">
            {{ suggestion.designationName }}
          </mat-option>
          @if (filteredOptions.length === 0) {
            <mat-option [value]="'add'" (click)="add()">
              <mat-icon style="font-size: 25px; color: rgb(35, 35, 247);">playlist_add</mat-icon>
              ADD NEW
            </mat-option>
          }
        }
      </mat-autocomplete>
    </mat-form-field>

    <div class="submit-button">
      <button mat-raised-button class="button" type="submit" [disabled]="form.invalid">
        Update
      </button>
    </div>
  </form>
</div>
