<h1 mat-dialog-title class="dialog-title">{{heading}}</h1>

<div mat-dialog-content class="dialog-content">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Note</mat-label>
    <textarea matInput [(ngModel)]="note" rows="4" placeholder="Type your note here"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="closeDialog()" class="cancel-button">Back</button>
  <button mat-button [mat-dialog-close]="note" cdkFocusInitial class="submit-button">Ok</button>
</div>
