
<!DOCTYPE html>
<html lang="en">
<body>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="row">
    <div fxLayout="row" class="col">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy" hideSingleSelectionIndicator="true">

            @if(admin){
              <mat-button-toggle value="add" (click)="openAdvanceDialog()">
                <mat-icon>money_off</mat-icon>
              </mat-button-toggle>
              
              <mat-button-toggle value="add" (click)="openAdvanceLog()">
                <mat-icon>layers</mat-icon>
              </mat-button-toggle>
            }

        </mat-button-toggle-group>
    </div>
    <div fxLayout="row" class="col">
      <form class="user-search">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="Search..." name="search" (keyup)="search($event)">
        </mat-form-field>
      </form>
    </div>

  </div>

    <main class="table" id="customers_table">
        <!-- <section class="table__header">
            <h1>ROLES</h1>
        </section> -->
        <section class="table__body"><br>
          <table>
            <thead>
              <tr>
                <th> Employee </th>
                <th> Employee No </th>
                <th> Scheme </th>
                <th> Amount </th>
                <th> Duration </th>
                <th> Completed </th>
                <th> Balance </th>
                <th> Created on </th>
                <th> Reason </th>
                @if(admin){
                  <th> Manage </th>
                  <th> Status </th>
                }
              </tr>
            </thead>
            <tbody>
              @for (advanceSalary of advanceSalaries; track $index) {
                <tr>
                  <td> {{ advanceSalary.user.name }} </td>
                  <td> {{ advanceSalary.user.empNo }} </td>
                  <td> {{ advanceSalary.scheme }} </td>
                  <td> {{ advanceSalary.amount }} </td>
                  <td> {{ advanceSalary.duration }} </td>
                  <td> {{ advanceSalary.completed }} </td>
                  <td>
                    {{ advanceSalary.amount - (advanceSalary.monthlyPay * advanceSalary.completed) }}
                  </td>
                  <!-- <td> {{ advanceSalary.reason }} </td> -->
                  <td> {{ advanceSalary.createdAt | date: 'dd-MM-yyyy' }} </td>
                  <td> {{ advanceSalary.reason }} </td>
                  @if(admin){
                    <td>
                      <div style="display: flex; gap: 8px;">
                        <!-- <button mat-menu-item (click)="openAdvanceDialog(advanceSalary)"> -->
                          <mat-icon (click)="openAdvanceDialog(advanceSalary)">mode_edit</mat-icon>
                        <!-- </button> -->
                        <!-- <button mat-menu-item > -->
                          <mat-icon (click)="deleteTeam(advanceSalary.id);">delete</mat-icon>
                        <!-- </button> -->
                      </div>
                    </td>
                    <td>
                      <mat-slide-toggle (change)="onToggleChange($event, advanceSalary.id)"></mat-slide-toggle>
                    </td>
                  }
                </tr>
              }

            </tbody>

          </table>
          <mat-paginator
            [length]="totalItems"
            [pageSize]="pageSize"
            [pageIndex]="currentPage - 1"
            (page)="onPageChanged($event)"
            [pageSizeOptions]="[10, 20, 30, 40, 50, 100]">
          </mat-paginator>
        </section>
    </main>

    <!-- <div class="tabs">
     <a routerLink="role">ROLE</a>
     <a>USER</a>
 </div> -->
</body>

</html>
