
<!DOCTYPE html>
<html lang="en">
<body>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="row">
    <div fxLayout="row" class="col">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy" hideSingleSelectionIndicator="true">
            <mat-button-toggle value="add" (click)="openCompany(null)"><mat-icon>business</mat-icon>
            </mat-button-toggle>
            <!-- <mat-button-toggle value="search">
                <mat-icon>search</mat-icon>
            </mat-button-toggle> -->
        </mat-button-toggle-group>
    </div>
    <div fxLayout="row" class="col">
      <form class="user-search" [class.show]="controls.value == 'search'">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="Search company by name" name="search" (keyup)="search($event)">
        </mat-form-field>
      </form>
    </div>
  </div>

    <main class="table" id="customers_table">
        <!-- <section class="table__header">
            <h1>ROLES</h1>
        </section> -->
        <section class="table__body">
          <table>
            <thead>
              
                <tr >
                <th> Name </th>
                <th> Supplier </th>
                <th> Customer </th>
                <th> Manage </th>
              </tr>
            
            </thead>
            <tbody>
              @for(company of companies; track $index){
              <tr (click)="goToCompany(company.id)" style="cursor: pointer;">
               
                 
               
                <td> {{ company.companyName }} </td>
                <td>
                  @if(company.supplier){
                    <span>✔️</span>
                  }
                  @else if (!company.supplier){
                    <span>❌</span>
                   
                  }
                
                  
                  
                </td>
                <td>
                  @if(company.customer){
                    <span>✔️</span>
                  }
                  @else if (!company.customer){
                    <span>❌</span>
                   
                  }
                
                  
                  
                </td>
                <td>
                  <button
                    mat-icon-button
                    (click)="$event.stopPropagation()"
                    (click)="openCompany(company)">
                    <mat-icon>mode_edit</mat-icon>
                  </button>
    
                  <button
                    mat-icon-button
                    (click)="$event.stopPropagation()"
                    (click)="deleteCompany(company.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            }
            </tbody>
          </table>
          <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage - 1"
          (page)="onPageChange($event)" [pageSizeOptions]="[10, 20,30,40,50,100]">
         </mat-paginator>

        </section>
    </main>

    <!-- <div class="tabs">
     <a routerLink="role">ROLE</a>
     <a>USER</a>
 </div> -->
</body>

</html>
