
<div class="container">
  <h2 class="title"> @if(updateStatus){Update} @else{Add} Assets for {{userName}} <strong>{{assetCode}}</strong></h2>
  <form [formGroup]="form" (ngSubmit)="addRow()" class="form">
    <div formGroupName="newRow" class="input-group">
      <mat-form-field class="input-field full-width" appearance="outline">
        <input matInput placeholder="Select Asset or add new" formControlName="assetName" 
              [matAutocomplete]="auto" (keyup)="search($event)"
              (keyup.enter)="addNewIfNoMatch()">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="patch($event.option.value)">
          @for (suggestion of filteredOptions; track $index) {
            <mat-option [value]="suggestion">
              {{ suggestion.assetName }} / {{ suggestion.serialNumber }}
            </mat-option>
          }
          <mat-option class="add-new-option">
            <button mat-button (click)="addNewIfNoMatch()" class="full-width-button">
              <span class="add-new-text">+ Add new "{{ filterValue }}"</span>
            </button>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field full-width">
        <mat-label>Serial Number</mat-label>
        <input matInput formControlName="serialNumber" placeholder="Serial Number" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-field full-width">
        <mat-label>Assigned Date</mat-label>
        <input matInput [matDatepicker]="startDatePicker" formControlName="assignedDate" placeholder="Date" required>
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-icon (click)="form.valid && addRow()" class="add-icon" [ngClass]="{'disabled': !form.valid}">
        add_circle_outline
      </mat-icon>
    </div>
  </form>
  

  <table class="table">
    <thead>
      <tr class="table-header">
        <th>Asset Name</th>
        <th>Serial Number</th>
        <th>Assigned Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (row of rows; let i = $index; track $index) {
        <tr class="table-row" (click)="editRow(row, i)" [class.status-false]="row.status === false">
          <td data-label="Asset Name">{{ row.assetName }}</td>
          <td data-label="Identifier Type">{{ row.serialNumber }}</td>
          <td data-label="Assigned Date">{{ row.assignedDate | date: 'dd-MM-yyyy' }}</td>
          <td class="last-columns">
            @if(row.status){
              <mat-icon (click)="removeRow(i)">remove_circle_outline</mat-icon>
              <mat-icon (click)="returnAsset(i)" (click)="$event.stopPropagation()">assignment_return</mat-icon>
            }@else {
              <span>{{ row.note }}</span>
              <span>{{ row.returnDate | date: 'dd-MM-yyyy' }}</span>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
  @if(rows.length > 0){
    <button (click)="saveAssets()" class="btn save-btn">
      @if(updateStatus){Update} @else {Save} Assets
    </button>
    @if(dialogRef){
      <button (click)="dialogRef?.close()" class="btn save-btn"> Exit </button>
    }
  }
</div>
