<h1 mat-dialog-title class="dialog-title">Upload file</h1>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="upload-container" (click)="fileInput.click()">
  Medical document:
  <input type="file" hidden #fileInput (change)="uploadFile($event)">
  <mat-icon class="clickable-icon" [ngClass]="{'file-selected': isFileSelected}" style="margin-left: 10px;">cloud_upload</mat-icon>
  <span *ngIf="fileName" style="margin-left: 10px;">{{ fileName }}</span>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="closeDialog()" class="cancel-button">Back</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial class="submit-button">Ok</button>
</div>
