<div class="container" [class.sign-up-mode]="isSignUpMode">

  <div class="forms-container">
    <div class="signin-signup">
      <form [formGroup]="loginForm" class="sign-in-form" (ngSubmit)="onSignIn()">
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Emp ID" formControlName="empNo" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            placeholder="Password"
            formControlName="password"
          />
          <mat-icon class="eye-icon" (click)="togglePasswordVisibility()">
            {{ showPassword ? 'visibility' : 'visibility_off' }}
          </mat-icon>
        </div>
        
        
        <input type="submit" value="Login" class="btn solid" />
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </form>
    </div>
  </div>
