<div class="page-container" fxLayout="column" fxLayoutAlign="space-between stretch">
  <div fxLayout="column" fxLayoutAlign="space-between stretch" class="components-container">
    <mat-card fxFlex>
      <div fxFlex class="table-component-holder mat-elevation-z4">
        <mat-toolbar class="table-header">
          <div class="row" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <div class="col">
              
            </div>
            <div class="col" style="text-align: right;">
              <div class="input-group">
                <input type="search" placeholder="Search Data by Entry No..." (keyup)="applyFilter($event)">
              </div>
            </div>
          </div>
        </mat-toolbar>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th scope="col">EntryNo</th>
                @if (isFlow) {
                  <th scope="col">Employee</th>
                }
                <th scope="col">Manager</th>
                <th scope="col">Accountant</th>
                <th scope="col">Status</th>
                <th scope="col">Manage</th>
              </tr>
            </thead>
            <tbody>
              @for(invoice of expenses; let i=$index; track $index){
                <tr [routerLink]="['/login/viewApproval/openexpenses', invoice.id]">
                  <td [attr.data-label]="'InvoiceNo'"
                  [ngClass]="{
                    'status-generated': invoice.status === 'Generated',
                    'status-am-verified': invoice.status === 'AM Verified',
                    'status-payment-completed': invoice.status === 'PaymentCompleted',
                    'status-am-rejected': invoice.status === 'AM Rejected'
                  }"
              >{{invoice.exNo || '-'}}</td>
              @if (isFlow) {
                <td [attr.data-label]="'SP'"
                  [ngClass]="{
                    'status-generated': invoice.status === 'Generated',
                    'status-am-verified': invoice.status === 'AM Verified',
                    'status-payment-completed': invoice.status === 'PaymentCompleted',
                    'status-am-rejected': invoice.status === 'AM Rejected'
                  }"
                >{{invoice.user?.name || '-'}}</td>
              }

                <td [attr.data-label]="'AM'"
                [ngClass]="{
                  'status-generated': invoice.status === 'Generated',
                  'status-am-verified': invoice.status === 'AM Verified',
                  'status-payment-completed': invoice.status === 'PaymentCompleted',
                  'status-am-rejected': invoice.status === 'AM Rejected'
                }"
              >{{invoice.manager?.name || '-'}}</td>
                  <td [attr.data-label]="'MA'"
                  [ngClass]="{
                    'status-generated': invoice.status === 'Generated',
                    'status-am-verified': invoice.status === 'AM Verified',
                    'status-payment-completed': invoice.status === 'PaymentCompleted',
                    'status-am-rejected': invoice.status === 'AM Rejected'
                  }"
              >{{invoice.ma?.name}}</td>
                  <td [attr.data-label]="'Status'"
                  [ngClass]="{
                    'status-generated': invoice.status === 'Generated',
                    'status-am-verified': invoice.status === 'AM Verified',
                    'status-payment-completed': invoice.status === 'PaymentCompleted',
                    'status-am-rejected': invoice.status === 'AM Rejected'
                  }"
              >{{invoice.status}}_{{invoice.count}}</td>
                  
                  <td (click)="$event.stopPropagation()">
                    <div class="action-icons">
                      @if(invoice.editButtonStatus){
                        <button class="update-button" [routerLink]="['/login/viewApproval/expenses', invoice.id]">Update </button>
                        <button class="delete-button" (click)="deleteFunction(invoice.id)">Delete
                        </button>
                      }
                      @if(data?.am && invoice.status === 'Generated'){
                        <button mat-raised-button class="approve-button"
                          (click)="verified('approved', invoice.exNo, invoice.user.name, invoice.id, invoice.status)"> APPROVE
                        </button>
                        <button mat-raised-button class="reject-button"
                          (click)="verified('rejected', invoice.exNo, invoice.user.name, invoice.id, invoice.status)">
                          REJECT
                        </button>
                      }
                      @if(data?.ma){
                        <button mat-raised-button class="add-bank-slip-button"
                        (click)="addBankSlip(invoice.exNo, invoice.id, invoice.status)"> {{ invoice.status === 'PaymentCompleted' ? 'Edit Wireslip' : 'Wireslip' }}
                        </button>
                      }

                      <!-- @if(data.kam && invoice.status === 'AM APPROVED'){
                        <button mat-raised-button class="add-bank-slip-button"
                        (click)="addBankSlip(invoice.piNo, invoice.id, invoice.status)"> ATTACH
                      </button>
                      } -->
                     
                    </div>
                  </td>
                </tr>
              }
              @if(expenses.length === 0){
                <tr>
                  <td [attr.colspan]="isFlow ? 6 : 5" style="text-align: center;">No records found</td>
                </tr>
              }
             
            </tbody>
          </table>

          <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage - 1"
            (page)="onPageChange($event)" [pageSizeOptions]="[10, 20,30,40,50,100]">
          </mat-paginator>
        </div>
      </div>
    </mat-card>
  </div>
</div>
