<div class="expense-form-container">
    <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" class="expense-form" enctype="multipart/form-data">
      <mat-card>
        <div class="row">
          <div class="col">
            <mat-card-header>
              <mat-card-title>
                EXPENSE MANAGEMENT
              </mat-card-title>
            </mat-card-header>
          </div>
      
          <div class="col">
            <mat-card-header>
              <button mat-mini-fab color="primary" type="button" aria-label="Example icon button with a home icon"
                class="d-block mr-0 ml-auto" onClick="history.back()" style="margin-left: auto;">
                <mat-icon>exit_to_app</mat-icon>
              </button>
            </mat-card-header>
          </div>
        </div><br>

  
        <mat-card-content>
          <div class="form-row">
            <mat-form-field appearance="outline" class="flex-item">
              <mat-label>Expense No</mat-label>
              <input matInput type="text" formControlName="exNo" required />
              <!-- <mat-error *ngIf="expenseForm.controls['exNo'].hasError('required')">Expense No is required</mat-error> -->
            </mat-form-field>

            <mat-form-field appearance="outline" class="flex-item">
              <mat-label>Currency</mat-label>
              <mat-select formControlName="currency">
                  <mat-option value="Dollar">Dollar</mat-option>
                  <mat-option value="AED">AED</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field  appearance="outline" class="flex-item">
              <mat-label>Amount</mat-label>
              <input type="number" matInput placeholder="Enter Amount" formControlName="totalAmount">
            </mat-form-field>
            
            @if (roleName === 'Manager') {
              <mat-form-field class="flex-item" appearance="outline">
                <mat-label>Accountatnt</mat-label>
                <mat-select placeholder="" formControlName="accountantId">
                @for(item of AMList; track $index){
                  <mat-option [value]="item.id">
                    {{item.name}}
                  </mat-option>
                }
                </mat-select>
              </mat-form-field>
            }@else {
              <mat-form-field class="flex-item" appearance="outline">
                <mat-label>Manager</mat-label>
                <mat-select placeholder="" formControlName="amId">
                @for(item of AMList; track $index){
                  <mat-option [value]="item.id">
                    {{item.name}}
                  </mat-option>
                }
                </mat-select>
              </mat-form-field>
            }
          </div>


          <mat-form-field appearance="outline">
            <mat-label>Notes</mat-label>
            <textarea matInput rows="4" formControlName="notes"></textarea>
          </mat-form-field>
<!--   
          <mat-form-field appearance="outline" disabled>
            <mat-label>Status</mat-label>
            <input matInput type="text" formControlName="status" readonly />
          </mat-form-field> -->
        </mat-card-content>

        <mat-card-content>
            <div formArrayName="url">
                  <div *ngFor="let uploadForm of doc().controls; let i = index" [formGroupName]="i" class="form-instance">
                    <div class="form-row" style="margin-top: 20px;">
                      <div class="col">
                        <mat-form-field class="w-100" appearance="outline">
                          <mat-label>Document Remarks</mat-label>
                          <input matInput formControlName="remarks">
                        </mat-form-field>
                      </div>
      
                      @if(!imageUrl[i] && !savedImageUrl[i]){
                        <div class="col">
                          <input type="file" class="file-input" hidden #fileInput (change)="onFileSelected($event, i)">
                          <mat-icon class="file-upload-icon" (click)="fileInput.click()">cloud_upload</mat-icon>
                          <p class="file-upload-text" (click)="fileInput.click()">Browse file to upload</p>
                        </div>
                      }
                      @else if(!imageUrl[i] && savedImageUrl[i]){
                        <div class="col">
                          <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                            <iframe [src]="savedImageUrl[i].url | safe" width="100%" height="300px"></iframe>
                          </div>
                        </div>
                      } @else if(imageUrl[i] && !savedImageUrl[i]){
                        <div class="col">
                          <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                            <iframe [src]="imageUrl[i] | safe" width="100%" height="300px"></iframe>
                          </div>
                        </div>
                      }
                      @if (!savedImageUrl[i]) {
                        <button mat-icon-button color="warn" type="button" (click)="removeData(i)">
                          <mat-icon>remove_circle</mat-icon>
                        </button>
                      }
                    </div>
                  </div>
                <button mat-raised-button color="primary" (click)="addDoc()" type="button"
                [disabled]="!isImageUploaded()">New Doc</button>
              </div>
        </mat-card-content>
  
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="!expenseForm.valid">
            @if(editStatus){ Update }
            @else { Submit }
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
  