
<!DOCTYPE html>
<html lang="en">
<body>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="row">
    <div fxLayout="row" class="col">
        <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy" hideSingleSelectionIndicator="true">
            <mat-button-toggle value="search">
                <mat-icon>search</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div fxLayout="row" class="col">
      <form class="user-search" [class.show]="controls.value == 'search'">
        <mat-form-field class="user-search-input">
            <input matInput placeholder="Search role by role name..." name="search" (keyup)="search($event)">
        </mat-form-field>
      </form>
    </div>
  </div>

    <main class="table" id="customers_table">
        <!-- <section class="table__header">
            <h1>ROLES</h1>
        </section> -->
        <section class="table__body"><br>
          <table>
            <thead>
              <tr>
                <th> Employee </th>
                <th> Scheme </th>
                <th> Duration </th>
                <th> Completed </th>
                <th> Balance </th>
                <th> Created </th>
                <th> Closed </th>
                <th> Closed Note</th>
              </tr>
            </thead>
            <tbody>
                @for (advanceSalary of advanceSalaries; track $index) {
                    @if (advanceSalary.status) {
                        <tr style="color: brown;">
                            <td> {{ advanceSalary.user.name }}_{{ advanceSalary.user.empNo }} </td>
                            <td> {{ advanceSalary.scheme }} </td>
                            <td> {{ advanceSalary.duration }} Months </td>
                            <td> {{ advanceSalary.completed }} Months </td>
                            <td> {{ advanceSalary.amount - advanceSalary.monthlyPay * advanceSalary.completed}} </td>
                            <td> {{ advanceSalary.createdAt | date: 'dd-MM-yyyy' }} </td>
                            <td> {{ advanceSalary.completedDate | date: 'dd-MM-yyyy' }} </td>
                            <!-- <td>
                              <div style="display: flex; gap: 8px;">
                                <button mat-menu-item (click)="openAdvanceDialog(advanceSalary)">
                                  <mat-icon (click)="openAdvanceDialog(advanceSalary)">mode_edit</mat-icon>
                                </button>
                                <button mat-menu-item >
                                  <mat-icon (click)="deleteTeam(advanceSalary.id);">delete</mat-icon>
                                </button>
                              </div>
                            </td>     -->
                        </tr>
                    }@else {
                        <tr>
                          <td> {{ advanceSalary.user.name }}_{{ advanceSalary.user.empNo }} </td>
                          <td> {{ advanceSalary.scheme }} </td>
                          <td> {{ advanceSalary.duration }} Months </td>
                          <td> {{ advanceSalary.completed }} Months </td>
                          <td> {{ advanceSalary.amount - advanceSalary.monthlyPay * advanceSalary.completed}} </td>
                          <td> {{ advanceSalary.createdAt | date: 'dd-MM-yyyy' }} </td>
                          <td> {{ advanceSalary.completedDate | date: 'dd-MM-yyyy' }} </td>
                          <td> {{ advanceSalary.closeNote }} </td>
                            
                        </tr>
                    }
                }
            </tbody>
          </table>

        </section>
    </main>

    <!-- <div class="tabs">
     <a routerLink="role">ROLE</a>
     <a>USER</a>
 </div> -->
</body>

</html>
