@if (counts) {
  <div fxLayout="row wrap" fxLayoutAlign="space-around center" #resizedDiv>
    @if(roleName !== 'Manager' && roleName !== 'Accountant'){
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.lg="16.66" class="p-2">
        <mat-card class="pb-2">
          <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
            <mat-card-subtitle>GENERATED</mat-card-subtitle>
            <mat-chip-set>
              <mat-chip color="accent" highlighted="true" class="info-chip">
                <mat-icon class="icon-sm">account_balance</mat-icon>
                <mat-icon class="icon-sm">create</mat-icon>{{ counts.GENERATED }}
              </mat-chip>
            </mat-chip-set>
          </mat-card-header>
        </mat-card>
      </div>
    }
  
    @if(roleName !== 'Accountant'){
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex.lg="16.66" class="p-2">
        <mat-card class="pb-2">
          <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
            <mat-card-subtitle>KAM VERIFIED</mat-card-subtitle>
            <mat-chip-set>
              <mat-chip color="primary" highlighted="true" class="info-chip">
                <mat-icon class="icon-sm">account_balance</mat-icon>
                <mat-icon class="icon-sm">check_circle</mat-icon>{{ counts.KAM_VERIFIED }}
              </mat-chip>
            </mat-chip-set>
          </mat-card-header>
        </mat-card>
      </div>
    }
  
    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex.lg="16.66" class="p-2">
      <mat-card class="pb-2">
        <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
          <mat-card-subtitle>AM VERIFIED</mat-card-subtitle>
          <mat-chip-set>
            <mat-chip color="primary" highlighted="true" class="info-chip">
              <mat-icon class="icon-sm">account_balance</mat-icon>
              <mat-icon class="icon-sm">check_circle</mat-icon>{{ counts.AM_VERIFIED }}
            </mat-chip>
          </mat-chip-set>
        </mat-card-header>
      </mat-card>
    </div>
  
    @if(roleName !== 'Manager' && roleName !== 'Accountant'){
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex.lg="16.66" class="p-2">
        <mat-card class="pb-2">
          <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
            <mat-card-subtitle>KAM REJECTED</mat-card-subtitle>
            <mat-chip-set>
              <mat-chip color="warn" highlighted="true" class="info-chip">
                <mat-icon class="icon-sm">account_balance</mat-icon>
                <mat-icon class="icon-sm">loop</mat-icon>{{ counts.KAM_REJECTED }}
              </mat-chip>
            </mat-chip-set>
          </mat-card-header>
        </mat-card>
      </div>
    }
  
    @if(roleName !== 'Accountant'){
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex.lg="16.66" class="p-2">
        <mat-card class="pb-2">
          <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
            <mat-card-subtitle>AM REJECTED</mat-card-subtitle>
            <mat-chip-set>
              <mat-chip color="warn" highlighted="true" class="info-chip">
                <mat-icon class="icon-sm">account_balance</mat-icon>
                <mat-icon class="icon-sm">loop</mat-icon>{{ counts.AM_REJECTED }}
              </mat-chip>
            </mat-chip-set>
          </mat-card-header>
        </mat-card>
      </div>
    }
  
  
    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex.lg="16.66" class="p-2">
      <mat-card class="pb-2">
        <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
          <mat-card-subtitle>COMPLETED</mat-card-subtitle>
          <mat-chip-set>
            <mat-chip color="accent" highlighted="true" class="info-chip">
              <mat-icon class="icon-sm">account_balance</mat-icon>
              <mat-icon class="icon-sm">done</mat-icon>{{ counts.BANK_SLIP_ISSUED }}
            </mat-chip>
          </mat-chip-set>
        </mat-card-header>
      </mat-card>
    </div>
  
  </div>
  
  @if(roleName !== 'Accountant'){
    <div fxLayout="row wrap" fxLayoutAlign="space-around center" #resizedDiv>
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.lg="25" class="p-2">
          <mat-card class="pb-2">
            <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
              <mat-card-subtitle>INITIATED</mat-card-subtitle>
              <mat-chip-set>
                <mat-chip color="accent" highlighted="true" class="info-chip">
                  <mat-icon class="icon-sm">credit_card</mat-icon>
                  <mat-icon class="icon-sm">create</mat-icon>{{ counts.INITIATED }}
                </mat-chip>
              </mat-chip-set>
            </mat-card-header>
          </mat-card>
        </div>
    
        <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex.lg="25" class="p-2">
          <mat-card class="pb-2">
            <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
              <mat-card-subtitle>AM APPROVED</mat-card-subtitle>
              <mat-chip-set>
                <mat-chip color="primary" highlighted="true" class="info-chip">
                  <mat-icon class="icon-sm">credit_card</mat-icon>
                  <mat-icon class="icon-sm">check_circle</mat-icon>{{ counts.AM_APPROVED }}
                </mat-chip>
              </mat-chip-set>
            </mat-card-header>
          </mat-card>
        </div>
    
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex.lg="25" class="p-2">
        <mat-card class="pb-2">
          <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
            <mat-card-subtitle>AM DECLINED</mat-card-subtitle>
            <mat-chip-set>
              <mat-chip color="warn" highlighted="true" class="info-chip">
                <mat-icon class="icon-sm">credit_card</mat-icon>
                <mat-icon class="icon-sm">loop</mat-icon>{{ counts.AM_DECLINED }}
              </mat-chip>
            </mat-chip-set>
          </mat-card-header>
        </mat-card>
      </div>
    
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.33" fxFlex.lg="25" class="p-2">
          <mat-card class="pb-2">
            <mat-card-header class="pt-2" fxLayoutAlign="space-between center">
              <mat-card-subtitle>COMPLETED</mat-card-subtitle>
              <mat-chip-set>
                <mat-chip color="accent" highlighted="true" class="info-chip">
                  <mat-icon class="icon-sm">credit_card</mat-icon>
                  <mat-icon class="icon-sm">done</mat-icon>{{ counts.CARD_PAYMENT_SUCCESS }}
                </mat-chip>
              </mat-chip-set>
            </mat-card-header>
          </mat-card>
      </div>
    </div>
  }

}
