.user-form {
  .form-field-outer {
      width: 400px;
  }
  .mat-mdc-radio-button{
      margin-right: 15px;
      margin-left: 15px;
  }
}

.full-width{
  width: 80%;
  margin-right: 15px;
  margin-left: 15px;
}

h2{
  text-align: center;
}