
<div class="payroll-header">
    <h2>Monthend Calculation - @if (updateStatus) {Update} 
        {{month}} - {{daysInMonth}} days
        @if (approval){- Sent for Approval} 
        @if (isApproved){- Approved} 
        @if (isRejected) {- Rejected}
        @if( isLocked ) {- Payroll Completed}
    </h2>
    <button mat-mini-fab color="primary" type="button" aria-label="Example icon button with a home icon" 
        class="d-block mr-0 ml-auto" (click)="downloadExcelOnly()" style="margin-left: auto; ">
    <mat-icon>download</mat-icon>
  </button>
</div>

<form [formGroup]="payrollForm">
    <mat-form-field appearance="fill">
        <mat-label>Select Year</mat-label>
        <mat-select #yearSelect [(value)]="currentYear" (selectionChange)="onYearChange( yearSelect.value )">
          <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Select Month</mat-label>
        <mat-select #id [(value)]="selectedMonth" (selectionChange)="onMonthYearChange(id.value)">
          <mat-option *ngFor="let month of months" [value]="month.value">{{ month.name }}</mat-option>
        </mat-select>
    </mat-form-field>

    @if(doc().controls && doc().controls.length){
        <table formArrayName="payrolls">
            <tr>
                <th rowspan="2">Employee Name</th>
                <th rowspan="2">Employee ID</th>
                <th rowspan="2">PerDay</th>
                @if(month === 'January'){
                    <th colspan="12">Earnings</th>
                }@else {
                    <th colspan="8">Earnings</th>
                }
                <th colspan="6">Deductions</th>
                <th>Net Salary</th>
            </tr>

            <tr>
                <th class="earnings">Basic (₹)</th>
                <th class="earnings">HRA (₹)</th>
                <th class="earnings">CA(₹)</th>
                <th class="earnings">LTA</th>
                <th class="earnings">SA</th>
                <th class="earnings">OT</th>
                <th class="earnings">Incentive</th>
                <th class="earnings">PayOut</th>
                @if(month === 'January'){
                    <th class="earnings" colspan="4">LeaveBalance</th>
                }
                <th class="deductions">PF</th>
                <th class="deductions">ESI</th>
                <th class="deductions">PT</th>
                <th class="deductions">TDS</th>
                <th class="deductions">LOP</th>
                <th class="deductions">Advance</th>
                <th>ToPay</th>
            </tr>
            @for (payroll of doc().controls; track $index; let i = $index) {
                <tr [formGroupName]="i">
                    <td><input type="text" placeholder="Employee" formControlName="userName"></td>
                    <td><input type="text" placeholder="EmployeeId" formControlName="employeeId"></td>
                    <td><input type="text" placeholder="PerDay" formControlName="perDay"></td>
                    <td><input type="number" class="no-spinner"placeholder="Basic" formControlName="basic"></td>
                    <td><input type="number" class="no-spinner"placeholder="HRA" formControlName="hra"></td>
                    <td><input type="number" class="no-spinner"placeholder="CA" formControlName="conveyanceAllowance"></td>
                    <td><input type="number" class="no-spinner"placeholder="LTA" formControlName="lta"></td>
                    <td><input type="number" class="no-spinner"placeholder="SA" formControlName="specialAllowance"></td>
                    <td><input type="number" class="no-spinner"placeholder="OT" formControlName="ot"></td>
                    <td><input type="number" class="no-spinner"placeholder="Incentive" formControlName="incentive"></td>
                    <td><input type="number" class="no-spinner"placeholder="PayOut" formControlName="payOut"></td>
                    @if(month === 'January'){
                        <td><input type="number" class="no-spinner"placeholder="CL" formControlName="cl" style="width: 25px;"></td>
                        <td><input type="number" class="no-spinner"placeholder="CombOff" formControlName="combOff" style="width: 25px;"></td>
                        <td><input type="number" class="no-spinner"placeholder="LeaveEncashment" formControlName="leaveEncashment" style="width: 25px;"></td>
                        <td><input type="number" class="no-spinner"placeholder="LeaveEncashmentAmount" formControlName="leaveEncashmentAmount"></td>
                    }
                    <td><input type="number" class="no-spinner"placeholder="PF" formControlName="pfDeduction"></td>
                    <td><input type="number" class="no-spinner"placeholder="ESI" formControlName="esi"></td>
                    <td><input type="number" class="no-spinner"placeholder="PT" formControlName="incentiveDeduction"></td>
                    <td><input type="number" class="no-spinner"placeholder="TDS" formControlName="tds"></td>
                    <td><input type="number" class="no-spinner"placeholder="LeaveDays" formControlName="leaveDays"></td>
                    <td><input type="number" class="no-spinner"placeholder="Advance" formControlName="advanceAmount"></td>
                    <td>
                        <input type="number" class="no-spinner"[value]="payroll.get('toPay')?.value" disabled>
                    </td>
                </tr>
            }
        </table>
    }<br>
    @if(!isLocked){
        <button mat-raised-button type="button" (click)="savePayroll()" class="calculate-btn" color="primary"
        [disabled]="approval">
            @if(updateStatus || isRejected || isApproved){
                Update
            }@else{
                Save
            }
            Payroll
        </button>&nbsp;&nbsp;
        @if(!isPreviousMonth){
            <button mat-raised-button type="button" (click)="downloadExcel()" class="calculate-btn" color="primary"
            [disabled]="!isSave || approval">
               Send For Verifictaion
            </button>&nbsp;&nbsp;
        }
        <button mat-raised-button type="button" (click)="lockData()" class="calculate-btn" color="primary"
            [disabled]="!(isApproved && payrollControls.pristine) && !(isPreviousMonth && updateStatus)">
            Lock And Send
        </button>
    }

</form>

@if(isLoading) {
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
        <mat-spinner color="primary"></mat-spinner>
    </div>
}