.user-form {
    .form-field-outer {
        width: 500px;
    }
    .mat-mdc-radio-button{
        margin-right: 12px;
    }
  }
  
  .user-img {
    display: flex;         
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100%;            /* Ensure it takes the full height of the parent */
  }
  
  .user-img img {
    max-width: 100%;         /* Adjust the image size appropriately */
    max-height: 100%;        /* Prevent overflow */
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  @media(max-width:576px)
  {
      .box{
          padding: 0px;
          margin: 0px;
          display: flex;
          flex-direction: column;
      }
  }
  
  .text-with-icon {
    display: flex;
    align-items: center;
    gap: 4px;
    color: blue
  }