<mat-toolbar class="bg-blue-900">
  <p style="color:rgb(11, 70, 118)"> ADD TEAM</p>
  <button mat-mini-fab color="primary" type="button" style="margin-left: auto;"
    aria-label="Example icon button with a home icon" class="d-block mr-0 ml-auto" (click)="onCancelClick()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="teamForm" (ngSubmit)="onSubmit()">

  <mat-card class="background">
    <mat-card-content>
      <div class="row box">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <input matInput placeholder="Team name" formControlName="teamName">
            @if (teamForm.controls['teamName'].hasError('required')) {
              <mat-error>
                Name <strong>required</strong>
              </mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Team Leads</mat-label>
            <mat-select placeholder="Team Leads" formControlName="teamLeaders" multiple>
              &nbsp;&nbsp; &nbsp;&nbsp;<span class="material-icons" style="font-size: 30px; color: rgb(30,58,138);"
                (click)="manageUser()">playlist_add</span>
              @for (item of users; track item) {
                @if (item.name !== 'HR Admin' && item.name !== 'Approval Admin' && item.name !== 'Super Admin') {
                  <mat-option [value]="item.id">
                    {{ item.name }}
                  </mat-option>
                }
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="full-width" appearance="outline">
            <mat-label>Members</mat-label>
            <mat-select formControlName="teamMembers" multiple>
              @for (item of users; track item) {
                @if (item.name !== 'HR Admin' && item.name !== 'Approval Admin' && item.name !== 'Super Admin') {
                  <mat-option [value]="item.id">
                    {{ item.name }}
                  </mat-option>
                }
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions>
      @if (team) {
        <button color="primary" mat-raised-button type="button" [disabled]="!teamForm.valid" (click)="edit(team.id)">UPDATE</button>&nbsp;&nbsp;
      }
      @else if (!team) {
        <button mat-raised-button color="primary" type="submit">ADD</button>&nbsp;&nbsp;
      }

      <button color="primary" mat-raised-button type="button" (click)="clear()">CLEAR</button>&nbsp;&nbsp;
    </mat-card-actions>
  </mat-card>
</form>