<mat-card>
    <mat-card-header>
        <mat-card-title>ORGANIZATION CHART</mat-card-title>
    </mat-card-header>
    <div class="tree-container">
        <div class="tree">
            <ul>
                <ng-container *ngFor="let director of directors; let i = index;">
                    <li>
                        <a>
                            <img
                                [src]="director.url ? (s3 + director.url) : userImage"
                                alt="Director Image"
                            />
                            <span>{{ director.name }}</span>
                        </a>
                        <div [innerHTML]="renderNodes(director.id, 1, 6)"></div>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</mat-card>
