
$primary-color: #d70006;      // for gradient / main buttons
$secondary-color: #cb6b48; 
   // for gradient
$text-color: #81212e;         // main text color
$text-light: #fff;        
     // white text
$input-bg: #f0f0f0;           // input background
$input-text: #403d3e;            // input text color
$icon-color: #acacac;         // input icons
$icon-hover-color: rgb(138, 30, 30); // social icon hover

$btn-bg: #dde6e9;             // btn1 background
$btn-text: rgb(158, 15, 46);  // btn1 text color

$panel-text: #fff;            // panel content text
$panel-bg-gradient-start: #8a1e20;
$panel-bg-gradient-end: #e13448;


// Alert colors
$info-color: #4eb3e6;
$warning-color: #f4a113;
$error-color: #ea221f;
$success-color: #06e66f;

// Skins (used in options)
$indigo-light: #3F51B5;
$teal-light: #009688;
$red-light: #F44336;
$blue-dark: #0277bd;
$green-dark: #388E3C;
$pink-dark: #D81B60;
$secondary-border-light: #ececec;
$secondary-border-dark: #262626;

