
<mat-card>
  <mat-toolbar class="table-header">
    <div class="row" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
      <div class="col">
        <h1>UPLOAD</h1>
      </div>
      <button mat-raised-button color="primary" onClick="history.back()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-card-content>
    <div class="wrapper">
      <form [formGroup]="piForm">
        <mat-form-field appearance="outline">
          <mat-label>EntryNo</mat-label>
          <input matInput placeholder="" formControlName="piNo" readonly="true">
        </mat-form-field>

        @if(supplierCompanies) {
          <mat-form-field class="full-width" appearance="outline" >
            <mat-label>Supplier</mat-label>
            <input matInput placeholder="Select Supplier" formControlName="supplierName" [matAutocomplete]="auto" (keyup)="search($event,'sup')">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="patch($event.option.value,'sup')">
              <mat-option *ngFor="let suggestion of fileterdOptions" [value]="suggestion">
                {{ suggestion.companyName }}
              </mat-option>
              <mat-option *ngIf="fileterdOptions.length === 0" [value]="'add'" (click)="add('sup')">
                <mat-icon style="font-size: 25px; color: rgb(35, 35, 247);">playlist_add</mat-icon>
                ADD NEW
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
        }

        <mat-form-field appearance="outline">
          <mat-label>Supplier SO#</mat-label>
          <input matInput placeholder="Enter Supplier SO#" formControlName="supplierSoNo">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Our PO#</mat-label>
          <input matInput placeholder="Enter Our PO#" formControlName="supplierPoNo">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Supplier Currency</mat-label>
          <mat-select formControlName="supplierCurrency">
              <mat-option value="Dollar">Dollar</mat-option>
              <mat-option value="AED">AED</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Supplier Price</mat-label>
          <input type="number" matInput placeholder="Enter Supplier Cost" formControlName="supplierPrice">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Purpose</mat-label>
          <mat-select placeholder="Select Purpose" formControlName="purpose" [multiple]="true">
            <mat-option value="Stock">Stock</mat-option>
            <mat-option value="Customer">Customer</mat-option>
          </mat-select>
        </mat-form-field>


        @if(isCustomerSelected){
          <ng-container>
            @if(customerCompanies) {
              <mat-form-field class="full-width" appearance="outline" >
                <mat-label>Customer</mat-label>
                <input matInput placeholder="Select Customer" formControlName="customerName" [matAutocomplete]="auto" (keyup)="search($event,'cust')">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="patch($event.option.value,'cust')">
                  <mat-option *ngFor="let suggestion of filteredCustomers" [value]="suggestion">
                    {{ suggestion.companyName }}
                  </mat-option>
                  <mat-option *ngIf="filteredCustomers.length === 0" [value]="'add'" (click)="add('cust')">
                    <mat-icon style="font-size: 25px; color: rgb(35, 35, 247);">playlist_add</mat-icon>
                    ADD NEW
                  </mat-option>
                </mat-autocomplete>

              </mat-form-field>
            }

            <mat-form-field appearance="outline">
              <mat-label>Customer PO#</mat-label>
              <input matInput placeholder="Enter Customer PO#" formControlName="customerPoNo">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Our Customer SO#</mat-label>
              <input matInput placeholder="Enter Customer SO#" formControlName="customerSoNo">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Customer Currency</mat-label>
              <mat-select formControlName="customerCurrency">
                  <mat-option value="Dollar">Dollar</mat-option>
                  <mat-option value="AED">AED</mat-option>
              </mat-select>
          </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>CustomerPO Value</mat-label>
              <input type="number" matInput placeholder="Enter PO Value" formControlName="poValue">
            </mat-form-field>
          </ng-container>
        }

        <mat-form-field appearance="outline">
          <mat-label>Payment Mode</mat-label>
          <mat-select formControlName="paymentMode" (selectionChange)="onPaymentModeChange()">
            <mat-option value="CreditCard">Credit Card</mat-option>
            <mat-option value="WireTransfer">Wire Transfer</mat-option>
          </mat-select>
        </mat-form-field>
        @if(sp || admin) {
          @if(piForm.get('paymentMode')?.value === 'CreditCard') {
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Authorize Manager</mat-label>
              <mat-select placeholder="" formControlName="amId">
                @for(item of AMList; track $index) {
                  <mat-option [value]="item.id">
                    {{item.name}}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          }

          @if(piForm.get('paymentMode')?.value !== 'CreditCard') {
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Key Account Manager</mat-label>
              <mat-select placeholder="" formControlName="kamId">
                @for(item of kam; track $index) {
                  <mat-option [value]="item.id">
                    {{item.name}}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          }
        }

        @if(kamb){
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Manager</mat-label>
            <mat-select placeholder="" formControlName="amId">
            @for(item of AMList; track $index){
              <mat-option [value]="item.id">
                {{item.name}}
              </mat-option>
            }
            </mat-select>
          </mat-form-field>
        }

        @if(am){
          @if(piForm.get('paymentMode')?.value === 'CreditCard') {
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Key account Manager</mat-label>
              <mat-select placeholder="" formControlName="kamId">
                @for(item of kam; track $index) {
                  <mat-option [value]="item.id">
                    {{item.name}}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          }

          <!-- Show Key Account Manager dropdown if payment mode is not Credit Card -->
          @if(piForm.get('paymentMode')?.value !== 'CreditCard') {
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Accountant</mat-label>
              <mat-select placeholder="" formControlName="accountantId">

              @for(item of AccountantList; track $index){
                <mat-option [value]="item.id">
                  {{item.name}}
                </mat-option>
              }
              </mat-select>
            </mat-form-field>
          }
        }
        <mat-form-field appearance="outline">
          <mat-label>Notes</mat-label>
          <input matInput placeholder="" formControlName="notes" >
        </mat-form-field>

      </form>
      <form [formGroup]="piForm" enctype="multipart/form-data">
        <div formArrayName="url">
          <div *ngFor="let uploadForm of doc().controls; let i = index" [formGroupName]="i" class="form-instance">
            <div class="row" style="margin-top: 20px;">
              <div class="col">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Document Remarks</mat-label>
                  <input matInput formControlName="remarks">
                </mat-form-field>
              </div>

              <ng-container *ngIf="!imageUrl[i] && !newImageUrl[i]">
                <div class="col">
                  <input type="file" class="file-input" hidden #fileInput (change)="onFileSelected($event, i)">
                  <mat-icon class="file-upload-icon" (click)="fileInput.click()">cloud_upload</mat-icon>
                  <p class="file-upload-text" (click)="fileInput.click()">Browse file to upload</p>
                </div>
              </ng-container>

              <ng-container *ngIf="imageUrl[i] && !newImageUrl[i]">
                <div class="col">
                  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                    <iframe [src]="imageUrl[i].url | safe" width="100%" height="300px"></iframe>
                    <mat-icon style="color: red;" (click)="onDeleteUploadedImage(i)">delete</mat-icon>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="!imageUrl[i] && newImageUrl[i]">
                <div class="col">
                  <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
                    <iframe [src]="newImageUrl[i] | safe" width="100%" height="300px"></iframe>
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="!newImageUrl[i] && !imageUrl[i]">
                <button mat-icon-button color="warn" type="button" (click)="removeData(i)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </ng-container>
            </div>
          </div>

          <button mat-raised-button color="primary" (click)="addDoc()" [disabled]="!isImageUploaded()">New Doc</button>
        </div>
      </form>
      <br>
      <button mat-raised-button type="button" color="primary" class="btn btn-success"
        (click)="onUpdate()"
        [disabled]="!piForm.valid || !isImageUploaded() || doc().length === 0"> UPDATE
      </button>
    </div>
  </mat-card-content>

  @if(submitted){
    <div fxLayout="column" fxLayoutAlign="center center" class="user-spinner">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  }
</mat-card>

