<h1 mat-dialog-title>
    @if (leaveType) {
        <span>Edit</span>
    } @else {
        <span>Add</span>
    }
     Leave Type
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="leaveTypeForm" class="user-form">
      <div fxLayout="column" class="form-field-outer">
        <mat-form-field appearance="outline" class="half-width">
            <mat-label> Leave Type </mat-label>
            <input matInput formControlName="leaveTypeName" required>
            <mat-error>
                @if (leaveTypeForm.controls['leaveTypeName'].hasError('required')) {
                  LeaveType Name is required
                }
            </mat-error>
        </mat-form-field>
  
        <!-- <mat-form-field class="w-100">
          <mat-label>Abbreviation</mat-label>
          <input matInput formControlName="abbreviation" required>
          <mat-error>
              @if (leaveTypeForm.controls.abbreviation.errors?.required) {
                  Abbreviation is required
              }
              @if (form.controls.abbreviation.hasError('minlength')) {
                  Abbreviation isn't long enough, minimum of 5 characters
              }
          </mat-error>
        </mat-form-field> -->
  
        <!-- <div class="col center-align" style="align-content: center;">
          <mat-slide-toggle formControlName="status">Status</mat-slide-toggle>
        </div> -->
      </div>
    </form>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="primary" [mat-dialog-close]="leaveTypeForm.value" [disabled]="!leaveTypeForm.valid" (click)="onSubmit()">
        @if (leaveType) {
            Update
        } @else {
            Save
        }
    </button> &nbsp;
    <button mat-raised-button color="warn" (click)="close()" type="button">Cancel</button>
  </div>
  