body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.table {
  width: 100%;
  // margin: 20px auto;
  border-collapse: separate; /* Use separate to allow corner rounding */
  border-spacing: 0;
  overflow: hidden;
  border-radius: 10px; /* Rounded corners for the table */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for a subtle 3D effect */
}

.table__header {
  padding: 10px;
  background-color: #0000000b;
  color: black;
  border-top-left-radius: 10px; /* Rounded top left corner */
  border-top-right-radius: 10px; /* Rounded top right corner */
  height: 15px;
  align-content: center;
}

.table__body {
  max-height: 400px;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #0000000b;
  border-bottom-left-radius: 10px; /* Rounded bottom left corner */
  border-bottom-right-radius: 10px; /* Rounded bottom right corner */
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  transition: transform 0.2s ease-in-out;
}

th {
  background-color: rgb(145, 195, 243);
  color: black;
  top: 0;
  z-index: 2;
}

td {
  background-color: #fff;
  position: relative;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}


thead th:first-child, tbody td:first-child {
  position: sticky;
  left: 0;
  z-index: 3;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.input-group {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: 15px;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 200px;
}


.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
  width: 100%;
}

mat-icon:hover{
  color: red;
  cursor: pointer;
  transform: scale(1.5);
}

